/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 *
 *= require_tree .
 *= require_self
 */

/* top */
span {
  text-align: center;
  display: block;
  color: #333;
  padding: 19.375px 19.375px 7.75px;
  font: inherit;
  font-size: 25.079px;
}
.Form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #e9967a;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Label-Any {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #87ceeb;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Any {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}
.Form-Item-Error .Form-Item-Input,
.Form-Item-Error .Form-Item-Textarea {
  border: 2px solid red;
  background-color: #ffe6e6;
}
/* top */

/* LINE bottun */
.button-line a {
    background: #06c755;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 15em;/*幅*/
    padding: 15px 15px;/*文字横空白*/
    color: #fff!important;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #fff!important;
    text-decoration: none;
	border-radius: 40px;/*丸み*/
	 border: 1px solid #c18f21;
	font-size: 1.2rem;/*文字サイズ*/
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);  /*影*/
}

 /*文字前アイコン*/
/*
.button-line a:before {
    position: relative;
    font-family: "Font Awesome 5 Free";
	content: '\f4ad';
  font-weight: 900;
    margin-right: 8px;
    color: #fff;
}
*/

 /*マウスホバー時演出*/
.button-line a:hover {
    background: #66cdaa;
    color: #FFF;
}
/* LINE bottun */

/* メールアドレス取得の同意 */
/* コンテナ */
.container {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;/*文字横空白*/
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    max-width: 720px;
}

/* カードスタイル */
.card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    box-sizing: border-box;
}

/* タイトル */
.card h2 {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 15px;
}

/* テキストとリスト */
.card p {
    font-size: 1rem;
    color: #555555;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card ul {
    margin: 10px 0;
    padding-left: 20px;
    color: #555555;
}

.card ul li {
    margin-bottom: 5px;
}
/* メールアドレス取得の同意 */

/* account_manager */
.Account-Table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.Account-Table th, .Account-Table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.Account-Table th {
  background-color: #c0c0c0;
  font-weight: bold;
}

.Account-Table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.Account-Table tr:hover {
  background-color: #f1f1f1;
}
/* account_manager */

